ion-grid {
  padding: 20px;
}

.custom-row {
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background: lightgray;
  border-radius: 120px;
  height: 150px;
  margin-top: 20px;
  width: 150px;
  overflow: hidden;

  ion-img {
    height: auto;
    width: 130%;
    transform: rotate(90deg);
  }
}
