<ion-header>
    <ion-toolbar>
        <ion-title>Erfassen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="item.Name"></ion-input>
    </ion-row>
    <ion-row>
        <ion-label>Anzahl</ion-label>
        <ion-input type="number" [(ngModel)]="item.Count"></ion-input>
    </ion-row>
    <ion-row>
        <ion-img *ngIf="item.Image !== ''" [src]="item.Image"></ion-img>
    </ion-row>
    <div class="buttons-row">
        <ion-fab-button (click)="takePicture()">
            <ion-icon name="ios-camera"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="deletePicture()" color="danger"  *ngIf="item.Image !== ''">
            <ion-icon name="ios-trash"></ion-icon>
        </ion-fab-button>
    </div>
</ion-content>
<ion-footer>
    <ion-button fill="clear" (click)="save()">
        Speichern
    </ion-button>
    <ion-button fill="clear" [routerLink]="'../../tabs'">
        Abbrechen
    </ion-button>
</ion-footer>
