<ion-header>
    <ion-toolbar>
        <ion-title>Erfassen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="item.Name"></ion-input>
    </ion-row>
    <ion-row>
        <ion-label>Anzahl</ion-label>
        <ion-input type="number" [(ngModel)]="item.Count"></ion-input>
    </ion-row>
    <ion-row>
        <ion-fab-button (click)="makeFoto()">
            <ion-icon name="ios-camera"></ion-icon>
        </ion-fab-button>
    </ion-row>
    <ion-row>
        <ion-img [src]="image"></ion-img>
    </ion-row>
</ion-content>
<ion-footer>
    <ion-button fill="clear" (click)="save()">
        Speichern
    </ion-button>
    <ion-button fill="clear" [routerLink]="'../../tabs'">
        Abbrechen
    </ion-button>
</ion-footer>
