ion-header {
    margin-bottom: 10px;
}

ion-row {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    ion-label {
        margin-bottom: 5px;
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.buttons-row {
    display: flex;
    margin: 10px 10px;
    ion-fab-button {
        display: inline;
        margin-right: 10px;
    }
}
