<ion-header>
    <ion-toolbar>
        <ion-title>Übersicht</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list padding *ngFor="let item of items">
        <ion-item class="item">
            <div class="value">
                {{item.Name}} | {{item.Count}}
            </div>
            <div class="action">
                <ion-icon name="trash" class="icon"></ion-icon>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-icon name="add" class="icon" [routerLink]="'../../create-edit'"></ion-icon>
</ion-footer>