.item {
    display: flex;
    .value {
        flex: 1;
    }

    .fixed-width-value {
        flex: 0 0 50px;
    }
}

.icon {
    height: 24px;
    width: 24px;
    color: var(--ion-color-primary);
}

.no-data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        ion-icon {
            color: var(--ion-color-warning);
            height: 30px;
            width: 30px;
        }
    }
}

ion-footer {
    padding: 10px;
}